

.navbar{
    background-color: black;
    font-family: fangsong;
    font-size: 17px;
}

.navbar-nav li a{
    color: white;
}




.navimage img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 48px;
    background-color: white;
}

.searchimage img {
    width: 30px;
    height: 30px;
}