
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand navimage" href="#">
        <img src="assets/logo2.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="">{{item}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="card" *ngIf="auth">Products</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Brands
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 

                  </div>                  
              </li> -->
              <li class="nav-item dropdown" *ngIf="auth">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Brands
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" routerLink="chanel"><span class="text-dark">Chanel</span></a>
                    <a class="dropdown-item" href="#"routerLink="zara"><span class="text-dark">ZARA</span></a>
                    <a class="dropdown-item" href="#"routerLink="gucci"><span class="text-dark">Gucci</span></a>
  
                </div>
              </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#" routerLink="about">About</a>
            </li> -->
            <li class="nav-item" *ngIf="auth">
                <a class="nav-link" href="#" routerLink="about">Comingsoon...</a>
            </li>
            
            <li class="nav-item"*ngIf="!auth">
                <a class="nav-link" href="#" routerLink="signup" *ngIf="!auth">Signup</a>
            </li>
           
        </ul>
        <form class="form-inline my-2 my-lg-0" *ngIf="auth">
            <input class="form-control mr-sm-2" #search type="search" placeholder="Search" aria-label="Search">
            <button (click)="getdata(search.value)" class="btn my-2 my-sm-0 searchimage" type="submit">
                <i class="fa-solid fa-magnifying-glass" style="color:black;
                font-size: 20px;"></i>
            </button>
         
        </form>
        <button routerLink="cartitem" *ngIf="auth" style="height: 36px;
        padding: 9px;
        margin-left: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        /* border: 1px solid black; */
        border-radius: 6px
    px
    ;">
      
            <span class="fa-solid fa-cart-plus" style="font-size: 16px; color: black;">
                <sup class="text-dark" style="font-size:10px;margin-left: 3px;">
                {{cartCount}}
                <!-- 1 -->
            </sup>
        </span>
          </button> &nbsp;&nbsp;&nbsp;
          <a class="btn logbtn" type="submit" routerLink="login"
            *ngIf="auth">Logout</a>
    </div>
    <!-- <p>{{displaytext}}</p> -->
</nav>
