    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12" style="padding: 0;">
                <div class="imgcontainer">
                    <img src="assets/c5.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-12" style="padding: 0;">
                <div class="contact_container mt-2">
                    <h1 class="heading">Log-in</h1>
    
                    <div class="container">
                        <form class="mt-2" [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="mt-3">
                                <p class="subheading">"Welcome to ECMA"</p>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" name="useremail" formControlName="useremail" placeholder="User Email">
                                <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['required']">Email is required</label>
                                <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['useremail']">Email must be a valid email address</label>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
                                <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['required']">Password is required</label>
                                <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['minlength']">Password must be at least 6 characters</label>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-dark newbtn">Login</button>
                            <div class="text-center ms-mt-x ms-mb-m register-already-account" style="padding-top:10px">
                                <div class="ms-fs-12 ng-binding" style="color: white; display: flex;justify-content:center; text-align: center;align-items: center; ">Don't have an account
                                    <a class="secondary ng-binding" href="signup" target="_blank">
                                        <!-- <button type="button" class="btn btn-light newbtn">Login</button> -->
                                        <h5 style="color: white;
                                        margin: 0;
                                        margin-left: 3px;
                                        text-decoration: underline;">Signup</h5>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>