.ccontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ccontainer-fluid{
    background-color: black;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 100%;
  height: 100%;
}

.card-text{
  text-size-adjust :initial;
}
.card-title{
  text-align: center;
  font-family: fansong;
  font-weight: 700;
}

.card img{
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
}

.cfirstbtn{
  border: 1px solid black;
  background-color: white;
  width: 100px;
    margin: 3px;  
}

.cfirstbtn img{
  width: 30px;
  height: 23px;
}
.cnewbtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cheading{
  text-align: center;
  color: white;
  font-family: fangsong;
  font-size: 3.5pc;
  margin: 23p;
  padding: 15px;
}

.card-text{
  font-family: fangsong;
  text-align: center;
}
.cgreen{
  color: green;
}

.ctextcontainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}