.container{
  display: grid;
  place-items: center;
}

.container-fluid{
    background-color: black;
}

.card{
  width: 100%;
  height: 100%;
}

.card-text{
  text-size-adjust :initial;
}

.card img{
    height: 150px;
}

.firstbtn{
  border: 1px solid black;
  background-color: white;
  width: 100px;
    margin: 3px;  
}

.firstbtn img{
  width: 30px;
  height: 23px;
}
.newbtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading{
  text-align: center;
  color: white;
  font-family: fangsong;
  font-size: 3.5pc;
  margin: 23p;
  padding: 15px;
}

.card-text{
  font-family: fangsong;
  text-align: center;
}
.green{
  color: green;
}

.textcontainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

