<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 style="color: aliceblue; font-size: 20px;">PRODUCTS DETAILS</h1>
    <div class="d-flex">
      <!-- Button trigger modal -->
      <button (click)="clickAddProduct()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</nav>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Color</th>
        <th scope="col">Product Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productData">
        <td>{{product.id}}</td>
        <td>{{product.pname}}</td>
        <td>{{product.pdesc}}</td>
        <td>{{product.price}}</td>
        <td>{{product.status}}</td>
        <td>{{product.color}}</td>
        <td>
          <img [src]="product.pimage" class="prodimg">
        </td>
        <td>
          <button (click)="onEdit(product)" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>&nbsp;
          <button (click)="deleteProducts(product)" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Product details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-1">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="pname">
            </div>
            <div class="mb-1">
              <label class="form-label">Description</label>
              <input type="text" class="form-control" formControlName="pdesc">
            </div>
            <div class="mb-1">
              <label class="form-label">Price</label>
              <input type="text" class="form-control" formControlName="price">
            </div>
            <div class="mb-1">
              <label class="form-label">Image</label>
              <input type="text" class="form-control" formControlName="pimage">
            </div>
            <div class="mb-1">
              <label class="form-label">Status</label>
              <input type="text" class="form-control" formControlName="status">
            </div>
            <div class="mb-1">
              <label class="form-label">Color</label>
              <input type="text" class="form-control" formControlName="color">
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postProductDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateProductDetails()" class="btn btn-warning">Update</button>
        </div>
      </div>
    </div>
  </div>
<script>
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
