<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="imgcontainer">
        <h1 class="heading">ECMA</h1>
        <p class="para">"Redesigned way of living"</p>
      </div>
    </div>
  </div>
  <div class="appimg">
    <app-imgcard></app-imgcard>
  </div>
  <div class="content">
    <div class="row">
      <marquee class="marque"><h2>ECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMAECMA</h2></marquee>
      <h1 class="contentheading">"Chanel and Burberry coming up with exquisuite collection of handbags in December 2022 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde provident animi iste veniam."</h1>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="videocontainer">
          <iframe width="560" height="355"
            src="https://www.youtube.com/embed/bxozowr_x2E?autoplay=1&mute=1&playlist=bxozowr_x2E&loop=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
       
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="videocontainer">
          <iframe width="560" height="355" src="https://www.youtube.com/embed/oj8YFlLwWSQ?autoplay=1&mute=1&playlist=oj8YFlLwWSQ&loop=1" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="designers">
    <h1 class="desheading">Designers in town</h1>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12">
         <div class="text">
          <h2 class="subheading">ECMA enters in Top 20 Fashion apps in US</h2>
            <p class="spara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque facere omnis nobis Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nisi, vero aliquid reprehenderit ipsum nihil praesentium ea asperiores iure, similique quibusdam nulla saepe?</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="img">
          <img src="https://i.insider.com/5e348a8bab49fd2c6f47ce97?width=600&format=jpeg&auto=webp" alt="">
        </div>
      </div>
    </div>
  </div>
</div>