.container-fluid{
    height: 1700px;
     background-color: black;
  }
  .imgcontainer{
      content: "";
      position: absolute;
      background:url("https://static.zara.net/photos///2022/I/1/1/p/6528/010/092/2/w/750/6528010092_6_1_1.jpg?ts=1661860261409")no-repeat center center/cover ;
      width: 100%;
      height:550px;
      opacity: 0.3;
  }
  .imgcontainer:hover{
      transition: all 2s ease-out;
      opacity: 1;
  }
  
  .textcontainers{
      margin-top: 23px;
      display: flex;
     
  }
  .subtextcontainer{
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      text-align: center;
     
  }
  
  .heading{
      font-size: 5pc;
      color: white;
      font-family: fangsong;
  }
  
  
  
  .subheading{
      font-style: italic;
      padding: 12px;
      font-size: 2pc;
      color: white;
      font-family: fangsong;
  }
  
  .para{
      /* text-align: center; */
      font-family: fangsong;
      color: white;
  }
  
  /* .images img:hover{
      transition: all 2s ease-out;
      opacity: 1;
  } 
  
  
  .images{
      float: right;
  }
  .images img{
      width: 150px;
      height: 150px;
      margin: 12px;
      opacity: 0.3;
  }  */
  
  .cardcontainer{
      margin-top: 76px;
      height: 450px;
      /* background-color: aqua; */
  }
  
  .subheadings{
      text-align: center;
      padding: 12px;
      font-style: italic;
      font-family: fangsong;
      color: white;
  }
  
  .videocontainer{
      margin-top: 35px;
  }
  
  .productcontainer{
      margin-top: 23px;
      height: 500px;
      background-color: aqua;
  }
  .ccontainer{
      display: grid;
      place-items: center;
    }
    
    .ccontainer-fluid{
        background-color: black;
    }
  
    .card-title{
      text-align: center;
      font-family: fansong;
      font-weight: 700;
    }
    
    .card{
      width: 100%;
      height: 100%;
    }
    
    .card-text{
      text-size-adjust :initial;
    }
    
    .card img{
        height: 150px;
        width: 150px;
        display: block;
        margin: auto;
    }
    
    .cfirstbtn{
      border: 1px solid black;
      background-color: white;
      width: 100px;
        margin: 3px;  
    }
    
    .cfirstbtn img{
      width: 30px;
      height: 23px;
    }
    .cnewbtn{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .cheading{
      text-align: center;
      color: white;
      font-family: fangsong;
      font-size: 3.5pc;
      margin: 23p;
      padding: 15px;
    }
    
    .card-text{
      font-family: fangsong;
      text-align: center;
    }
    .cgreen{
      color: green;
    }
    
    .ctextcontainer{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    
    @media screen and (max-width:1000px) {

      .container{
        height: 790px;
      }
  
      .videocontainer iframe{
        width: 400px;
        height: 300px;
      }
      .imgcontainer{
        height: 550px;
      }
  
      .cardcontainer{
        margin-top: 0;
      }
      
    }
  
  
    @media screen and (max-width:970px) {
      .container-fluid{
        height: 2250px;
      }
      .para{
        font-size: 14px;
      }
    }
  
    @media screen and (max-width:770px) {
      .container-fluid{
        height: 2480px;
      }
      .container{
        height: 960px;
      }
      .imgcontainer{
        height: 400px;
        margin-top: 40px;
      }
  
      .cardcontainer{
        margin-top: 0;
        height: 525px;
      }
    
      .subtextcontainer{
        margin-top: 0;
      }
      .videocontainer{
        margin-top: 0;
        display: grid;
        place-items: center;
      }
  
      .row{
        justify-content: center;
      }
  
  
    }
  
  
    @media screen and (max-width:660px)
    {
      .heading{
        font-size: 3pc;
      }
      .container{
        height:615px;
      }
      .container-fluid{
        height:2450px;
      }
      .cardcontainer{
        height: 470px;
      }
      .imgcardy{
        display: none;
      }
      .para{
        font-size: 12px;
      }
      .subheading{
        font-size: 1.2pc;
        padding: 0;
  
      }
      .subheadings{
        font-size: 1.5pc;
      }
      .imgcontainer{
        margin-top: 0;
      }
    }
  
    @media screen and (max-width : 420px){
      .container{
        height:680px;
      }
      .container-fluid{
        height:2600px;
      }
      .cardcontainer{
        height: 560px;
      }
      
    }
  
  
    
    